*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  
    }
  
   
    .img-fundo {
      
      width: 40%;
      height: 1100px;
      
     
    }
  
    .card {
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
     
  
   
   
    }
  
    .card-logo{
   
      position: absolute;
      top: 4%;
      left: 2%;
    }
    .image-card-front{
      margin-bottom: 15px;
    }
    .image-card-back{
      
      position: absolute;
      top: 100%;
      left: 15%;
      
    }
    .image-card-back p{
      color: white;
      position: absolute;
      top:45%;
      left: 84%;
    }
  .dados{
    
    position: absolute;
    top:40%;
    left: 8%;
    width: 90%;
  }
    .image-card-front p{
      color: white;
      font-size: 18px;
      font-family: "Space Grotesk", sans-serif;
   
    }
    .dados-card{
   
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 50px;
      
      
    }
    .Registration-confirmed {
      
        position: absolute;
        top: 60%;
        left: 75%;   
        transform: translate(-50%, -50%);
        width: auto;  
    } 
      .icon-complete {
 
        position: relative;  
        left: auto;  
        top: auto;  
      }
      
      .icon-complete img{

          width: 35%;
          transform: translate(90%, 1%);
          margin-bottom: 15px;
  

      }

      .icon-complete > p:first-of-type {
        
        font-size: 20px;
        font-family: "Space Grotesk", sans-serif;
   
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        color:  rgb(50, 2, 96); 
        font-weight: 900;
        letter-spacing: 2px
 
      }
      
.icon-complete > p:nth-of-type(2) {
   
        font-family: "Space Grotesk", sans-serif;
 
        display: flex;
        justify-content: center;
        color: rgb(71, 70, 70);
        font-size: 1rem;
       margin-bottom: 2rem;
      }
      

      .icon-complete button{
        
        width: 100%;
        height: 40px;
        border-radius: 5px;
        background-color: rgb(50, 2, 96);
        color: white;
        cursor: pointer;
      }